.vscode/.browse.c_cpp.db*
.vscode/ipch
managed_components
dependencies.lock
example
build
build_linux
build_test
build_test_config
build_valgrind
test-books
release*
SDCard/epub-test
SDCard/books/Broken
SDCard/books/Broken2
SDCard/books/Done
SDCard/books/temp
SDCard/*.db
SDCard/books/*.pars
SDCard/books/*.locs
SDCard/books/*.toc
SDCard/last_book.txt
freetype-distrib/freetype-2.14.3/objs
lib_freetype
bin/*.bin
temp
*.zip
SDCard/books/**/*
!SDCard/books/Austen*.epub
valgrind.log
SDCard-Save
vgcore.*
report.*
test/results/*
*.log
